
    <%- include('partials/header'); -%>

    <div class="weather-div">
      <p>Djibouti <%=dateandtime%>, </p>
      <p><i class="fas fa-temperature-high"></i></p>
      <p><%=Temperature%>C</p>
      <p><%=WeatherDescription%></p>
     
      <p><img class="icon"  src="<%=weatherIcon%>" alt=""></p>
      </div>

      <div class="jumbotron">
        <h1 class="display-4">EXPLORE DJIBOUTI</h1>
        <p class="lead">Top 10 recomended visit countries in the world</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      
    
   <!-- --------------------------------------Crds section--------------------------------- -->
     
      <div class="card-deck">
      <div class="card" style="width: 18rem;">
        <img src="/images/il-moucha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Moucha Island</h5>
          <p class="card-text">The most beautfull undersea wildlife can be found here, clean and clear the nature is here at display </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="far fa-calendar-check"></i> 2 days </li>
          <li class="list-group-item"><i class="fas fa-swimmer"></i> Diving tours</li>
          <li class="list-group-item"><i class="fas fa-umbrella-beach"></i> Sun and See</li>
          
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-info">Enquiry</button>
        </div>
      </div>
 
  <div class="card" style="width: 18rem;">
    <img src="/images/Dorale-And-Khor-Ambado.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Khore Ambado</h5>
      <p class="card-text">SBeautifull Beach to relax and swim peacfully</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="far fa-calendar-check"></i>2 Days</li>
      <li class="list-group-item"> <i class="fas fa-swimmer"></i>Swimming in tranquility</li>
      <li class="list-group-item"><i class="fas fa-fish"></i>snorkelling to find out  underseat wildlife</li>
    </ul>
    <div class="card-body">
      <button type="button" class="btn btn-info">Enquiry</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/djibouticamels.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Goda montain</h5>
      <p class="card-text">Exeptional reagion of a forest with  mountains of upt  1750 m above sea level</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <i class="far fa-calendar-check"></i>3 Days</li></li>
      <li class="list-group-item"><i class="fas fa-mountain"></i>Mountains of exeptional beauty</li>
      <li class="list-group-item"> <i class="fas fa-route"></i>Experienced local guides</li>
    </ul>
    <div class="card-body">
      <button type="button" class="btn btn-info">Enquiry</button>
      
    </div>
  </div>
</div>
</div>


<div class="container-fluid whale-section">
  <div class="row">
    <div class="col-sm whaletext" >
     <h2>Lac Abee </h2>
     <h3>Swim with a Whale</h3>
      <p >highly recommended operator and dive centre can organise all kinds of tours throughout the country, on land and at sea, including diving and snorkelling trips, whale-shark spotting outings (between November and January), excursions to Lac Abbé and Lac Assal, as well as live-aboard dive boats to Gulf of Tadjoura and Les Sept Frères archipelago. It's staffed with qualified instructors who speak English.</p>
    </div>
    <div class="col-sm djibwhale">
      <img src="images/lack-abee-whale1.jpg" alt="djibwhale"> 
    </div>
   
  </div>
  </div>
  <div>
    <div>
      <h2></h2>
      <i class="fas fa-hands"></i>
      <i class="fas fa-umbrella-beach"></i>
      <i class="fas fa-truck-monster"></i>
      <i class="fas fa-route"></i>
      <i class="fas fa-mountain"></i>
      <i class="fas fa-hiking"></i>
      <i class="fas fa-swimmer"></i>
      <i class="fas fa-fish"></i>
    </div>
  </div>
  
     








</div>

<%- include('partials/footer'); -%>
