
<%- include('partials/header'); -%>

  <h1>Update Booking</h1>



  <div class="row my-5">
    
    <div class="col-md-7 offset-md-1">
      <%AdventurePlace.forEach((foundAdventure)=>{%>
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body" >
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text" style="text-align: center;">With supporting text below as a natural lead-in to additional content.</p>
          
              <p class="list-group-item" >Place:<%=foundAdventure.Trip%></p>
              <p class="list-group-item" >Date:<%=foundAdventure.Date%></p>
              <p class="list-group-item" >People:<%=foundAdventure.person%></p>
           
            <a href="/userspage" class="btn btn-primary">Cancel</a>
          </div>
        </div>
        <%});%>
    </div>
    <div class="col-md-3 ">
      <div class="card">
        <div class="card-body">
          <div class="cardt-title">Update Existing Booking</div>
          <%AdventurePlace.forEach((foundAdventure)=>{%>
            <fieldset>
              <form class="form-inline mx-0" action="/update/<%=foundAdventure._id%>" method="POST">
                
                <input type="date" class="form-control mb-2 mr-sm-2" value=<%=foundAdventure.Date%> name="Date" id="Date" placeholder="Date"  required="required">
  
                 <input type="text" class="form-control mb-2 mr-sm-2" value=<%=foundAdventure.person%> name="person"  id="person" placeholder="Number Persons"   required="required">
                 
              <select class="custom-select  mb-2 mr-sm-2" value=<%=foundAdventure.Trip%> name="Trip" id="Trip" placeholder="Choose Adventure"  required="required">
                <option><%=foundAdventure.Trip%></option>
                <option>Ambado</option>
                <option>Djibouti City</option>
                <option>Day</option>
                <option>Lac Assal</option>
                <option>Whale Tour</option>
              </select>
            
                <button type="submit" class="btn btn-info mb-2">Change</button>
            
              </form>
            </fieldset>
              <%});%>
       </div>
      
      </div>
   <!--update form-->


    </div>
  </div>




<%- include('partials/footer'); -%>





