<%- include('partials/header'); -%>

<h2>Update</h2>

<div class="container">
  <div class="card">
    <div class="card-header">
       Your Existing Post
    </div>
    
        <div class="col">
          <div class="card">
            <%foundPost.forEach( (Post) =>{%> 
              <form action="/editPost/<%=Post._id%>" method="POST"  >
               
          <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input type="text" name="title" value="<%=Post.title%>" placeholder="Title"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Place</span>
            <input type="text"  name="place" value="<%=Post.place%>"  placeholder="Place Adventure" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
         <div class="input-group">
            <span class="input-group-text">Comments Adventure</span>
            <input name= "description"  value="<%=Post.description%>" class="form-control" aria-label="With textarea"></input>
          </div>
      
             <button  type="submit" class="btn btn-info">Update Post</button> 
            </form>
         <%});%>
          </div>
         
        </div>
      
      </div>

    </div>

    
    <%- include('partials/footer'); -%>










