<%- include('partials/header'); -%>


<h1 class="h2Login">Welcome <%=user%></h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Start experiencing Membership  benefit</h1>
    <p class="lead">Book your adventure with Member discount</p>
  </div>


    <form class="form-inline" action="/userspage" method="POST">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="date" class="form-control mb-2 mr-sm-2" name="adventureDate" id="adventureDate" placeholder="Date">
     
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" name="poeple"  id="poeple" placeholder="Number Persons">
     
      <label class="sr-only" for="inlineFormInputName2">Name</label>
    <select class="custom-select  mb-2 mr-sm-2" name="destination" id="destination" placeholder="Choose Adventure">
      <option>Choose...</option>
      <option>Ambado</option>
      <option>Djibouti City</option>
      <option>Day</option>
      <option>Lac Assal</option>
      <option>Whale Tour</option>
    </select>
  
      <button type="submit" class="btn btn-info mb-2">Book</button>
    </form>
 
</div>
</div>
<% if (message) { %>
  <p style="background-color: #7FFFD4; font-size: medium;  color: seagreen;"><%= message%></p>
  <% } %>
 


   
    <%Booking.Adventure.forEach(function(foundAdventure){%>
        <form action="/delete" method="POST">
          <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
           Adventure Bookings
          </a>
          <a href="#" class="list-group-item list-group-item-action"><span class="listgroup">Adventure:</span><%=foundAdventure.Trip%></a>
          <a href="#" class="list-group-item list-group-item-action"><span class="listgroup">Date:</span><%=foundAdventure.Date%></a>
          <a href="#" class="list-group-item list-group-item-action"><span class="listgroup">Persons:</span><%=foundAdventure.person%></a>
          <button type="submit" name="toDelete"  value="<%=foundAdventure._id%>"  class="btn  btn-info mb-2">Cancel</button>
          
         </div>
    
         </form>
         <%});%>




<%- include('partials/footer'); -%>